<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinasoft.jinrong_api.dao.IAdminDao">
    <!-- 写入cache单列标签  表面在此映射中开启mybatis二级缓存-->
    <cache  eviction="LRU" flushInterval="200000" readOnly="true" size="1024" />
<select id="selectUserPageWhere" parameterType="map" resultType="map"
        flushCache="false" useCache="true" >
    select
     tu.USER_ID as userId,
     tu.USER_NAME as userName,
     tu.USER_PHONE as userPhone,
     tu.USER_PASSWORD as userPassWord
     from tb_user as tu
    <where>
       <if test="userPhone!=null and userPhone!='' ">
           tu.USER_PHONE like concat('%',#{userPhone},'%')
       </if>
       <if  test="userName!=null and userName!='' ">
     and  tu.USER_NAME like concat('%',#{userName},'%')
       </if>
       <if test="userId!=null and  userId!='' ">
          and tu.USER_ID = #{userId}
       </if>
    </where>
</select>


</mapper>